{% extends 'base.html' %}

{% block content %}
{% load cart %}
{% load custom_filter %}
{% load i18n %}

<div class="container">
   <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4">{% trans "Vos commandes" %}</p>
        <hr>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans "Sno." %}</th>
                        <th>{% trans "Image" %}</th>
                        <th>{% trans "Produit" %}</th>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Prix" %}</th>
                        <th>{% trans "Quantité" %}</th>
                        <th>{% trans "Total" %}</th>
                        <th>{% trans "Status" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><img style="max-height: 80px;" class="img-fluid rounded-circle" src="{{ order.product.image.url }}" alt=""></td>
                        <td>{{ order.product.name }}</td>
                        <td>{{ order.date }}</td>
                        <td>{{ order.price|currency:request }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.quantity|multiply:order.price|currency:request }}</td>
                        {% if order.status %}
                        <td><span class="badge badge-success">{% trans "Complété" %}</span></td>
                        {% else %}
                        <td><span class="badge badge-warning">{% trans "En attente" %}</span></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
   </div>
</div>

{% endblock %}
