{% extends "base.html" %}
{% block content %}

{% load cart %}
{% load custom_filter %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>E-commerce Madagascar</title>
    </head>

    <body>
      <p style = "text-align: center; font-size: 150%;"><b>Site e-commerce de HOAG Target</b></p>
      
      <div class="row mx-auto">
        {% for p in product %}
        <div class="card mx-auto mb-3" id={{p.id}} style="width: 18rem;">
          <a href="{% url 'Detail' p.id %}"><img class="card-img-top" src="{{p.image.url}}" alt="Card image cap"></a>
            <div class="card-body">
                <p class="card-title"><a href="{% url 'Detail' p.id %}">{{p.name}}</a></p>
                <p style="font-size: 68%"><a href="http://localhost:8000/register">Cliquez ici pour acheter les produits en prix de gros ou en prix d'usine</a> </p>
                <p class="card-text">Prix en détail: <b>Ar {{p.price}}</b></p>
            </div>
            <div class="card-footer p-0 no-gutters">
              
              {% if p|is_in_cart:request.session.cart %}
              <div class="row no-gutters">
                <form action="/#{{product.id}}" class="col-2 " method="post">
                  {% csrf_token %}
                  <input hidden type="text" name='product' value='{{p.id}}'>
                  <input hidden type="text" name='remove' value='True'>
                  <input type="submit" value=" - " class="btn btn-block btn-warning border-right">
                </form>
                  <div class="text-center col btn btn-warning">{{p|cart_quantity:request.session.cart}} dans le chariot</div>
                <form action="/#{{product.id}}" class="col-2 " method="post">
                  {% csrf_token %}
                  <input hidden type="text" name='product' value='{{p.id}}'>
                  <input type="submit" value=" + " class="btn btn-block btn-warning border-left">
                </form>
              </div>
                  {% else %}
                <form action="/#{{product.id}}" method="POST" class="btn-block">
                  {% csrf_token %}
                  <input hidden type="text" name='product' value='{{p.id}}'>
                  <input type="submit" class="float-right btn btn-warning form-control"
                    value="Ajouter au chariot">
                </form>
                
              {% endif %}
            </div>
            
        </div>

        {% empty %}

        <div class="col d-flex justify-content-center">
        <div class="card text-center ">
            <div class="card-header">
              OUPS! 😱
            </div>
            <div class="card-body">
              <h5 class="card-title">Voilà qui n'était pas prévu ! </h5>
              <p class="card-text">😱 Nous n'avons pas pu trouver le produit correspondant à votre recherche 🥺 
              </br> 🤔 Mais nous vous invitons à voir nos autres produits! ☺️ 
              </p>
              <a href="/" class="btn btn-primary">Voir tous les produits</a>
            </div>
          </div>
        </div>
                  
    {% endfor %}
      
    </div>
    </body>
</html>
{% endblock %}